[class^="col-4"] a:link,
a:active,
a:visited {
    color: black;
    text-decoration: none;
}

#evan {
    background-image: url(/Images/evan.jpg);
}

#ming {
    background-image: url(/Images/ming.jpg);
}

#jason {
    background-image: url(/Images/jason.jpg);
    background-position: top;
}
