body {
    height: 1vh;
    background-image: url("https://source.unsplash.com/1366x1024?nature");
    background-repeat: no-repeat;
}

.container {
    width: 1024px;
    margin: auto;
}

.thumbnail {
    border-radius: 5px;
    padding: 5px;
}

.thumbnail img {
    width: 100%;
}

.logo {
    width: 500px;
    height: 100px;
    background: url("/Images/Logo/wjpstudiologo.png");
    margin: 40px auto;
}

.member {
    height: 180px;
    margin: 10px auto;
    padding: 10px 1px 1px 5px;
    background-color: rgb(242, 242, 242);
    border: 1px solid #9a9595;
}

.meber::before {
    content: ;
}

.member:hover {
    border: 2px solid black;
    box-shadow: 1px 1px 3px 2px rgba(20%, 20%, 40%, 0.5);
}

.memberimg {
    width: 100%;
    height: -webkit-calc(100% - (18px));
    height: calc(100% - (18px));
    background-color: white;
    background-size: 300px;
    background-position: center;
}
