body {
    height: 1vh;
    /*    background-image: url("https://source.unsplash.com/1366x1024?nature");*/
    background-repeat: no-repeat;
}

.container {
    width: 1024px;
    margin: auto;
}

.thumbnail {
    border-radius: 5px;
    padding: 5px;
}

.thumbnail img {
    width: 100%;
}

.wjpstudiologo {
    width: 500px;
    height: 100px;
    background: url("/Images/Logo/wjpstudiologo.png");
    margin: 40px auto;
}

header {
    height: 300px;
    background-image: url(/Images/personalheader.jpg)
}

nav {
    color: white;
    float: right;
    font-size: 25px;
    font-family: sans-serif;
}

nav a:link,
a:active,
a:visited {
    color: white;
    text-decoration: none;
}

nav ul li {
    list-style-type: none;
    padding: 2px 15px;
    display: inline;
}

nav ul li:hover {
    background-color: deepskyblue;
}

nav li ul {
    display: none;
}

nav li:hover>ul {
    display: inherit;
}

.personal {
    height: 180px;
    margin: 5px auto;
    padding: 10px 1px 1px 5px;
    border: 1px solid #9a9595;
}

.personal::before {
    content: ;
}

.personal:hover {
    border: 2px solid black;
    box-shadow: 1px 1px 3px 2px rgba(20%, 20%, 40%, 0.5);
}

#jobs {
    background-image: url(/Images/BSY_TchFullLog.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}
