body {
    height: 1vh;
    /*    background-image: url("https://source.unsplash.com/1366x1024?nature");*/
    background-repeat: no-repeat;
}

.thumbnail {
    border-radius: 5px;
    padding: 5px;
}

.thumbnail img {
    width: 100%;
}

header {
    height: 300px;
    background-image: url(/Images/personalheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    color: white;
    float: right;
    font-size: 20px;
    font-family: sans-serif;
}

a:link,
a:active,
a:visited {
    color: white;
    text-decoration: none;
}

nav ul li {
    list-style-type: none;
    padding: 2px 15px;
    display: inline;
}

nav ul li:hover {
    background-color: deepskyblue;
}

nav li ul {
    display: none;
}

nav li:hover>ul {
    display: inherit;
}

.personal {
    width: 310px;
    height: 180px;
    margin: 15px auto;
    border: 5px solid #ffffff;
}

#about {
    background-image: url(/Images/jason.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

#traval {
    background-image: url(/Images/Traval.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

#skill {
    background-image: url(/Images/skill.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.personal:hover {
    border: 10px solid #0897ff;
    box-shadow: 1px 1px 3px 2px rgba(20%, 20%, 40%, 0.5);
    color: #e200ff;
}

.personal:hover:after {
    content: "";
    display: block;
    background-color: rgba(235, 255, 0, 0.47);
    opacity: 0.8;
    width: 310px;
    height: 180px;
    position: relative;
    top: -110px;
    left: -10px;
}

#personal {
    background-color: aquamarine;
    height: 230px;
}

#personal:hover {
    background-color: #ff00d8;
}

#education {
    background-color: aquamarine;
        height: 230px;

}

#education:hover {
    background-color: #ff00d8;
}

#job {
    background-color: aquamarine;
        height: 230px;

}

#job:hover {
    background-color: #ff00d8;
}

.wjphome {
    width: 75px;
    height: 40px;
    position: fixed;
    right: 10px;
    bottom: 40px;
    padding: 10px;
}

.wjphome a:link,
.wjphome a:active,
.wjphome a:visited {
    font-size: 18px;
    font-family: sans-serif;
    color: #4fff71;
    text-decoration: none;
}

.wjphome a:hover {
    color: #ff0093;
    font-style: oblique;
}

.home277 {
    width: 150px;
    height: 40px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px;
}

.home277 a:link,
.home277 a:active,
.home277 a:visited {
    font-size: 18px;
    font-family: sans-serif;
    color: #ff4bce;
    text-decoration: none;
}

.home277 a:hover {
    color: blue;
    font-style: oblique;
}
