* {
    box-sizing: border-box;
}


/*重置css*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
article nav,
aside,
blockquote,
div,
pading {
    margin: 0px;
    padding: 0px;
}

[id^="box"] {
    border: 1px solid black;
    width: 150px;
    height: 150px;
}
