[class^="col-"] {
    /*    border: 1px solid;*/
    height: auto;
}

[class^="col-"] img {
    width: 100%;
}


/*
section [class^="col-"] {
    background-image: url(https://unsplash.it/1920x1080?random);
    background-position: left;
    height: 40vh;
}
*/

footer [class^="col-"] img {
    border-radius: 50%;
}

header {
    /*    border: 2px solid blue;*/
    height: 300px;
    background-image: url(http://source.unsplash.com/1200x500);
    background-size: cover;
    text-align: center;
}

.thumbnail img {
    width: 100%;
    max-width: 100%;
}
